@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$black: #333;
$blue: #00326e;
$lightblue: #337ab7;
$blueA: rgba(0, 50, 110, 0.1);
$blueAA: rgba(0, 50, 110, 0.05);
$grey: #8cb0cc;
$yellow: #fcdd00;
$kaki: #e6e4da;
$green: #2cac7f;
$greenA: rgba(44, 172, 127, 0.2);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
  background: #fff;
  color: $black;
  font-size: 16px;
  line-height: 1.42857;
  height: 100%;
}

h1, h2, h3 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  color: $blue;
  font-size: 2rem;
}

h2 {
  color: $blue;
  font-size: 1.75rem;  
}

h3 {
  color: $blue;
  font-size: 1.5rem;  
}

p {
  font-size: 1.125rem;
  line-height: 1.44;
  margin-bottom: 2rem;
  margin-top: 0;
}

q {
  position: relative;
  color: $green;
  font-weight: bold;
  border-left: 5px solid $green;
  display: inline-block;
  padding-left: 2rem;

  @media (min-width: 768px) {
    margin-left: -1rem;
  }

  &:before,
  &:after {
    content: '';
  }  
}

a {
  color: $lightblue;
  
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

ul,
ol {
  padding-left: 1rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 1200px) {
  form { 
    width: 55vw;
  }
}

header,
footer {
  nav {
    display: none;

    a {
      color: #000;
      padding: 0 0.5rem;

      &:hover {
        background: none;
        text-decoration: none;        
      }
    }
  }
}

header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: flex-end;
  height: 80px;

  @media only screen and (min-width: 768px) {
    padding: 0.5rem 0;
  }

  .logo {
    line-height: 1;
  }

  .title {
    line-height: 1;
    margin-left: 1rem;
    color: $blue;

    a {
      color: inherit;
      text-decoration: none;
      line-height: 1;

      &:hover {
        background: none;
        text-decoration: none;
      }
    }

    strong {
      font-size: 1.25rem;
      font-weight: bold;
      display: block;
      
    }

    .beta {
      background-color: $blue;
      font-size: 0.75rem;
      color: #fff;
      padding: 0.2rem 0.5rem;
      margin-top: 0.25rem;
      display: inline-block;
    }

    @media only screen and (min-width: 768px) {
      a {
        display: inline-flex;
        align-items: flex-end;
      }

      strong {
        display: inline;
      }

      span {
        margin-left: 0.5rem;
      }

      .beta {
        margin-top: 0;
      }
    }
  }
}

footer {
  border-top: 1px solid $blue;
  padding: 1rem;
  width: 100%;
  color: $blue;

  @media only screen and (min-width: 768px) {
    padding: 1rem 0;
  }

  nav {
    display: block;
    text-align: right;

    a {
      color: $blue;
      text-decoration: none;
      position: relative;
      padding: 0 0.5rem;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }

    div {
      margin-bottom: 0.5rem;

      a:last-child {
        padding-right: 0;
      }
    }

    .logo-den {
      padding: 0;
      padding-top: 0.2rem;
    }

    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      div {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }
  }
}

#app main {
  padding: 4rem 0;
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  &.container-fluid {
    max-width: unset;
  }

  .intro {
    margin-bottom: 2rem;
  }

  &.padding-top-null {
    padding-top: 0;
  }

  &.padding-null {
    padding: 0;
  }

  .container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .column-questions,
  .column-text,
  .column-result {
    padding: 0 1.5rem;
  }
    
  @media only screen and (min-width: 768px) {
    &.container-small {
      max-width: 75vw;
    }

    .intro {
      max-width: 75vw;
    }

    .column-questions,
    .column-text,
    .column-result {
      padding: 0;
    }
  }

  @media only screen and (min-width: 1200px) {
    &.container-small {
      max-width: 50vw;
    }

    .intro {
      max-width: 50vw;
    }
  }
}

.readmore {
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  text-transform: none;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-decoration: underline;
  cursor: pointer;

  &:after {
    content: '>';
  }
}

.more-info {
  border-radius: 50%;
  border: 1px solid black;
  font-weight: bold;
  height: 2.5rem;
  width: 2.5rem;
}

fieldset {
	border: 0;
  padding: 0;

  input[type="text"] {
    border: 1px solid #8cb0cc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
  }
}

.progress-current {
  padding-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.progress {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 3rem;
  
  li {
    position: relative;
    display: inline-block;
    width: 4.5rem;

    @media only screen and (min-width: 768px) {
      width: 5rem;
    }

    &:before {
      content: '';
      display: block;
      background: #e5eaf0;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 0.25rem);
      height: 0.5rem;
      width: 0.5rem;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      background: #e5eaf0;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: calc(50% - 0.05rem);
      width: 5rem;
    }

    &:last-child:after {
      display: none;
    }

    &.done {
      &:before {
        background: $blue;
      }

      &:after {
        background: $blue;
      }
    }

    &.active {
      &:before {
        background: $blue;
        height: 1rem;
        width: 1rem;
        top: calc(50% - 0.5rem);
      }
    }
  }
}

.steps {
  border: 0;
  display: flex;
	flex-direction: column;
  margin-bottom: 2rem;

	> div {
    background: $blueAA;
    display: flex;
    flex: 1;
		flex-grow: 1;
    font-size: 0.875rem;
		padding: 1rem;
    border-top: 0;
    flex-direction: column;
    justify-content: space-between;

    label {
      display: block;
      font-size: 1rem;      
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;

      label input[type="radio"] {
        margin-right: 1rem;
      }
    }

    &:nth-child(even) {
      background: $blueA;
    }

    .readmore {
      margin-bottom: 0;
      color: $blue;
    }
	}
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .button-link {
    background: none;
    box-shadow: none;
    text-transform: none;
    line-height: 1.5;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid transparent;
  }

  .btn {
    background: $yellow;
    color: $blue;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 1.875rem;
    font-size: 0.9375rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: all .2s cubic-bezier(0.13, 0.8, 0.31, 0.91);
    display: inline-flex;
    align-items: center;

    &:hover {
      background: $blue;
      color: #fff;
    }

    &.btn-outline {
      background: transparent;
      border: 1px solid $blue;

      &:hover {
        background: $blue;
      }
    }

    &.btn-secondary {
      background: $blue;
      border: 1px solid $blue;
      color: #fff;

      &:hover {
        background: #fff;
        color: $blue;
      }
    }

    &.btn-small {
      padding: 0.4rem 1rem;
    }

    &.btn-margin {
      margin-bottom: 2rem;
    }

    &:disabled,
    &.disabled,
    &.disabled:hover,
    &:disabled:hover {
      background: $kaki;
      color: #bbb;
      border: 1px solid $kaki;
    }

    &+ .btn {
      margin-left: 1rem;
    }
  }
}

.result-list {
  padding-left: 1rem;  
}

.accordion {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.44;

  .panel-heading {
    display: block;
    padding: 0.5rem;
    background: $blueAA;
    text-decoration: none;
    margin-bottom: 1rem;
  }

  .panel {
    padding-bottom: 1rem;
  }
}

.faq-accordion {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.44;

  > div {
    margin-bottom: 0.5rem;
  }

  .faq-accordion-heading {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    padding-right: 2rem;
    position: relative;
    background: $blueAA;
    text-decoration: none;
    color: $black;

    &:after {
      content: '+';
      position: absolute;
      top: 0.5rem;
      right: 1rem;
    }
  }

  .faq-accordion-content {
    padding: 1rem;
    display: none;
  }

  .faq-active {
    .faq-accordion-heading {
      background: $blue;
      color: #fff;

      &:after {
        content: '-';
      }
    }

    .faq-accordion-content {
      display: block;
    }
  }
}

.slidein {
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%;  
  height: 100%; 
  display: flex;
  justify-content: flex-end;
  transition: 
    right 0.5s ease-in-out,
    background 0s;
  

  &.open {
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 
      right 0.5s ease-in-out,
      background 0.2s 0.5s ease-in-out;
  }

  .click-area {
    width: 30%;
  }

  .panel {
    width: 70%;
    padding: 2rem;
    padding-top: 3rem;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 100%;
    position: relative;

    .title {
      font-size: 1.15rem;
      font-weight: bold;
    }

    div {
      font-size: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    .click-area {
      width: 70%;
    }

    .panel {
      width: 30%;
    }
  }

  .close-btn {
    font-weight: bold;
    font-size: 1.5em;
    background: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    border: 0;
  }
}

.card {
  padding: 1rem;
  margin-bottom: 2rem;

  &.bg-white {
    background: #fff;
  }

  &.bg-lightblue {
    background: $blueAA;

    a {
      color: $blue;
    }
  }

  &.border-black {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.cookie-banner {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 1.42857;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: $blue;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  padding: 1rem 2rem;

  .cookie-banner-text {
    color: #fff;
    margin-bottom: 1rem;

    a {
      color: #fff;
    }
  }

  .cookie-banner-buttons {
    white-space: nowrap;

    .btn {
      background: #fff;
      color: $blue;
      cursor: pointer;
      border-radius: 0;
      margin: 0;
      margin-left: 0.5rem;
      line-height: 1.5;
      font-size: 0.9375rem;
      font-weight: bold;
      padding: 0.8rem 1.25rem;
      border: 1px solid transparent;
      text-align: center;
      text-decoration: none;
      transition: all .2s cubic-bezier(0.13, 0.8, 0.31, 0.91);

      &:hover {
        background: #fff;
        color: inherit;
        text-decoration: underline;
      }

      &.btn-link {
        background: $blue;
        color: #fff;
        margin-left: 2rem;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;

    .cookie-banner-text {
      margin-bottom: 0;
    }
  }
}

.print-only {
  display: none;
}

@media print {
  #app {
    width: 85%;
    margin: 0 auto;
  }

  .print-only {
    display: block;
    overflow-wrap: break-word;
  }

  footer,
  .progress-current,
  .cookie-banner,
  .progress,
  .buttons,
  .card.border-black {
    display: none;
  }

  .accordion .panel-heading,
  .faq-accordion .faq-accordion-heading {
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #000;
    font-weight: bold;
    color: $black;

    &:after {
      display: none;
    }
  }

  .faq-accordion .faq-accordion-content {
    display: block;
  }
}