@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	background-color: #e6e4da;
  color: #000;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

h1, p, ul {
  margin: 0;
  margin-bottom: 1rem;
}

h1 {
  line-height: 1;
}

header,
footer {
  nav {
    display: none;

    a {
      color: #000;
      padding: 0 0.5rem;

      &:hover {
        background: none;
        text-decoration: none;        
      }
    }
  }
}

header {
  border-bottom: 1px solid #000;  
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .title {
    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        background: none;
        text-decoration: none;
      }
    }

    strong {
      font-size: 1.25rem;
      font-weight: bold;
      display: block;
      
    }

    .beta {
      background-color: #000;
      font-size: 0.75rem;
      color: #fff;
      padding: 0.2rem 0.5rem;
    }

    @media only screen and (min-width: 769px) {
      a {
        display: inline-flex;
        align-items: center;
      }

      strong {
        display: inline;
      }

      span {
        margin-left: 0.5rem;
      }
    }
  }
}

footer {
  border-top: 1px solid #000;
  padding: 0.5rem 2rem;
  font-size: 0.875rem;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;

  nav {
    display: block;
    text-align: right;

    div {
      margin-bottom: 0.5rem;

      a:last-child {
        padding-right: 0;
      }
    }

    .logo-den {
      padding: 0;
      padding-top: 0.2rem;
    }

    @media only screen and (min-width: 769px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      div {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }
  }
}

.page-container {
  position: relative;
  min-height: 100vh;

  main {
    padding-bottom: 7rem;
  }
}

.container {
  padding: 2rem;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .intro {
    margin-bottom: 2rem;
  }

  &.padding-top-null {
    padding-top: 0;
  }

  &.padding-null {
    padding: 0;
  }

  .container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
    
  @media only screen and (min-width: 769px) {
    &.container-small {
      max-width: 50vw;
    }

    .intro {
      max-width: 50vw;
    }
  }  
}

.readmore {
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  text-transform: none;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-decoration: underline;
  cursor: pointer;

  &:after {
    content: '>';
  }
}

.more-info {
  border-radius: 50%;
  border: 1px solid black;
  font-weight: bold;
  height: 2.5rem;
  width: 2.5rem;
}

fieldset {
	border: 0;
  padding: 0;

  input[type="text"] {
    border: 0;
    height: 2rem;
    width: 100%;
  }
}

.progress-current {
  padding-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.progress {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 3rem;
  
  li {
    position: relative;
    display: inline-block;
    width: 4.5rem;

    @media only screen and (min-width: 769px) {
      width: 5rem;
    }

    &:before {
      content: '';
      display: block;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 0.25rem);
      height: 0.5rem;
      width: 0.5rem;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      background: #fff;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: calc(50% - 0.05rem);
      width: 5rem;
    }

    &:last-child:after {
      display: none;
    }

    &.done {
      &:before {
        background: #000;
      }

      &:after {
        background: #000;
      }
    }

    &.active {
      &:before {
        border: 1px solid #000;
        height: 1rem;
        width: 1rem;
        top: calc(50% - 0.5rem);
      }
    }
  }
}

.steps {
  border: 0;
  display: flex;
	flex-direction: column;
  margin-bottom: 2rem;

	> div {
    background: white;  
    display: flex;
    flex: 1;
		flex-grow: 1;
    font-size: 0.875rem;
		padding: 1rem;
    border-top: 0;
    flex-direction: column;
    justify-content: space-between;

    label {
      display: block;
      font-size: 1rem;      
    }

    @media only screen and (min-width: 769px) {
      flex-direction: row;

      label input[type="radio"] {
        margin-right: 1rem;
      }
    }

    &:nth-child(even)  {
      background: rgba(255, 255, 255, 0.6);
    }

    .readmore {
      margin-bottom: 0;
    }
	}
}

.buttons {
  display: flex;
  flex-direction: row;

  .button-link {
    background: none;
    box-shadow: none;
    text-transform: none;
    line-height: 1.5;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid transparent;
  }

  button {
    background-color: white;
    border: 1px solid transparent;
    line-height: 1.5;
    padding: 0.5rem;
    text-transform: uppercase;
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
      border: 1px solid #000;
    }
  }
}

.result-list {
  padding-left: 1rem;  
}

.accordion {
  margin-bottom: 2rem;

  > div > a {
    display: block;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    margin-bottom: 1rem;
  }
}

.faq-accordion {
  margin-bottom: 2rem;

  > div {
    margin-bottom: 0.5rem;
  }

  .faq-accordion-heading {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    padding-right: 2rem;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;

    &:after {
      content: '+';
      position: absolute;
      top: 0.5rem;
      right: 1rem;
    }
  }

  .faq-accordion-content {
    padding: 1rem;
    display: none;
  }

  .faq-active {
    .faq-accordion-heading {
      background: #fff;

      &:after {
        content: '-';
      }
    }

    .faq-accordion-content {
      display: block;
    }
  }
}

.slidein {
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%;  
  height: 100%; 
  display: flex;
  justify-content: flex-end;
  transition: 
    right 0.5s ease-in-out,
    background 0s;
  

  &.open {
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 
      right 0.5s ease-in-out,
      background 0.2s 0.5s ease-in-out;
  }

  .click-area {
    width: 30%;
  }

  .panel {
    width: 70%;
    padding: 2rem;
    padding-top: 3rem;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 100%;
    position: relative;

    .title {
      font-size: 1.15rem;
      font-weight: bold;
    }

    div {
      font-size: 1rem;
    }
  }

  @media only screen and (min-width: 769px) {
    .click-area {
      width: 70%;
    }

    .panel {
      width: 30%;
    }
  }

  .close-btn {
    font-weight: bold;
    font-size: 1.5em;
    background: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    text-decoration: none;
  }
}
